@model BugChang.DES.Application.Boxs.Dtos.BoxEditDto
@using BugChang.DES.Web.Mvc.Models.Common
<form id="BoxEditForm" method="post" asp-controller="Box" asp-action="Edit">
    @Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("修改箱格"))
    <div class="modal-body">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="hidden" asp-for="CreateBy" value="@Model.CreateBy" />
        <input type="hidden" asp-for="CreateTime" value="@Model.CreateTime" />
        <input type="hidden" asp-for="UpdateBy" value="@Model.UpdateBy" />
        <input type="hidden" asp-for="UpdateTime" value="@Model.UpdateTime" />
        <input type="hidden" id="DefaultValue" data-place-id="@Model.PlaceId" />
        <div class="form-group">
            <label>正面BN号</label>
            <input type="text" class="form-control" asp-for="FrontBn" value="@Model.FrontBn">
        </div>
        <div class="form-group">
            <label>背面BN号</label>
            <input type="text" class="form-control" asp-for="BackBn" value="@Model.BackBn">
        </div>
        <div class="form-group">
            <label>名称</label>
            <input type="text" class="form-control" asp-for="Name" value="@Model.Name">
        </div>
        <div class="form-group">
            <label>双面锁</label>
            <select class="form-control" asp-for="IsTwoLock">
                <option value="0">否</option>
                <option value="1">是</option>
            </select>
        </div>
        <div class="form-group">
            <label>常驻提示信息</label>
            <textarea rows="3" class="form-control" asp-for="PermanentMessage" placeholder="最多150字">@Model.PermanentMessage</textarea>
        </div>
        <div class="form-group">
            <label>交换场所</label>
            <select asp-for="PlaceId" class="edit-place-select form-control" style="width: 100%"></select>
        </div>
        <div class="form-group">
            <label>状态</label>
            <select asp-for="Enabled" class="form-control">
                <option value="true" @(Model.Enabled?"selected=\"selected\"")>启用</option>
                <option value="false" @(!Model.Enabled?"selected=\"selected\"")>禁用</option>
            </select>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>
<script src="~/views-resource/box/_editBoxModal.js" asp-append-version="true"></script>