@model BugChang.DES.Application.Departments.Dtos.DepartmentViewDto
@using BugChang.DES.Web.Mvc.Models.Common
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("查看机构详情"))
<div class="modal-body">
    <table class="table">
        <tr>
            <td>名称</td>
            <td>@Model.Name</td>
            <td>全称</td>
            <td>@Model.FullName</td>
        </tr>
        <tr>
            <td>上级机构</td>
            <td>@Model.ParentName</td>
            <td>机构代码</td>
            <td>@Model.Code</td>
        </tr>
        <tr>
            <td>创建人</td>
            <td>@Model.CreateUserName</td>
            <td>创建时间</td>
            <td>@Model.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
        </tr>
        <tr>
            <td>最后更新人</td>
            <td>@Model.UpdateUserName</td>
            <td>最后更新时间</td>
            <td>@Model.UpdateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
        </tr>
    </table>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithClose.cshtml")